@model InsertData

<div class="col-md-8 mx-auto rounded border p-3">
    <h2 class="text-center mb-5">Insert Data</h2>

    <form method="post" enctype="multipart/form-data" asp-action="Create">
        <div class="row mb-3">
            <label class="col-sm-4 col-form-label">Meeting Title</label>
            <div class="col-sm-8">
                <textarea class="form-control" asp-for="MeetingTitle"></textarea>
                <span asp-validation-for="MeetingTitle" class="text-danger"></span>
            </div>
        </div>

        <div class="row mb-3">
            <label class="col-sm-4 col-form-label">Meeting Date</label>
            <div class="col-sm-8">
                <input class="form-control" asp-for="MeetingDate" type="date" />
                <span asp-validation-for="MeetingDate" class="text-danger"></span>
            </div>
        </div>

        <div class="row mb-3">
            <label class="col-sm-4 col-form-label">Meeting Time</label>
            <div class="col-sm-8">
                <input class="form-control" asp-for="MeetingTime" type="time">
                <span asp-validation-for="MeetingTime" class="text-danger"></span>
            </div>
        </div>

        <div class="row mb-3">
            <label class="col-sm-4 col-form-label">Pass Status</label>
            <div class="col-sm-8">
                <select class="form-select" asp-for="PassStatus">
                    <option value="Accepted">Accepted</option>
                    <option value="Rejected">Rejected</option>
                </select>

            </div>
        </div>

        <div class="row mb-3">
            <label class="col-sm-4 col-form-label">Name</label>
            <div class="col-sm-8">
                <input class="form-control" asp-for="CreatedBy">
                <span asp-validation-for="CreatedBy" class="text-danger"></span>
            </div>
        </div>

        <div class="row mb-3">
            <label class="col-sm-4 col-form-label">Created Date</label>
            <div class="col-sm-8">
                <input class="form-control" asp-for="CreatedDate" type="date">
                <span asp-validation-for="CreatedDate" class="text-danger"></span>
            </div>
        </div>

        <div class="row">
            <div class="offset-sm-4 col-sm-4 d-grid">
                <button type="submit" asp-controller="MeetingPass" class="btn btn-primary">Submit</button>
            </div>
            <div class="col-sm-4 d-grid">
                <a class="btn btn-outline-primary" asp-controller="MeetingPass" asp-action="Index" role="button">
                    Cancel
                </a>
            </div>
        </div>
    </form>
</div>