@model IEnumerable<MeetingPassManagementSystem.Models.MeetingPass>
@using System.Text.Json


<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script src="https://code.highcharts.com/modules/export-data.js"></script>
<script src="https://code.highcharts.com/modules/accessibility.js"></script>



<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p class="lead">Welcome to the Meeting Pass Management System</p>
</div>

<figure class="highcharts-figure">
    <div id="container"></div>
    <p class="highcharts-description">
        This chart shows how data labels can be added to the data series. This
        can increase readability and comprehension for small datasets.
    </p>
</figure>


<script>
    $(document).ready(function () {
        $.getJSON("/MeetingPass/GetData", function (data) {
            var dates = [];
            var times = [];

            for (var i = 0; i < data.length; i++) {
                // Ensure proper parsing of date using JavaScript Date functions
                var rawDate = new Date(data[i].Date); // Convert to Date object
                var formattedDate = rawDate.toLocaleDateString(); // Format the date as a string

                dates.push(formattedDate);  // Push formatted date
                times.push(data[i].Time);  // Time is the pass count
            }

            Highcharts.chart('container', {
                chart: {
                    type: 'line'
                },
                title: {
                    text: 'Pass Count Over Time'
                },
                xAxis: {
                    categories: dates  // Use formatted dates as X-axis categories
                },
                yAxis: {
                    title: {
                        text: 'Pass Count'
                    }
                },
                series: [{
                    name: 'Pass Count',
                    data: times  // Y-axis data is pass count
                }]
            });
        });
    });

</script>